STACKCUE_API_END_POINT_BASE_URL = http://127.0.0.1:8000
STACKCUE_API_ACCESS_TOKEN = 1|abcdefg
STACKCUE_API_CONFIG_METHOD =env # configfile or env
STACKCUE_API_CONFIG_FILE_LOCATION=config/stackcueconfig.php
